html {
  color: #374250;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .938rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}


/* Card and List Group */
.card,
.card-body,
.card-header,
.card-footer,
.list-group-item {
  border-color: rgba(222, 219, 221, 0.8);
  overflow: hidden;
}

/* Dropdown Menu */
.dropdown-menu {
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.1);
}
.dropdown-menu .dropdown-item {
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
}
.dropdown-menu .dropdown-item:hover {
  color: #FFFFFF;
  background: linear-gradient(to right bottom, #ff541e, #ff4835, #fc3d47, #f63657);
}
.dropdown-menu .dropdown-item:active {
  color: #FFFFFF;
  background: #EB3833;
}

/* Nav */
.nav-item,
.nav-link {
  display: flex;
  align-items: center;
}

/**
 * Universal
 */
 /* Gradient Background */
 .bg-gradient.bg-orange,
 .bg-gradient.bg-primary {
   background: #EB3833;
   background-image: linear-gradient(to right bottom, #ff541e, #ff4835, #fc3d47, #f63657) !important;
 }
 .bg-gradient.bg-lavendar {
   background: #C9D6FF;
   background: -webkit-linear-gradient(to right, #D5DCF1, #C9D6FF);
   background: linear-gradient(to right, #D5DCF1, #C9D6FF);
 }
 .bg-gradient.bg-yellow {
   background: #FEB801;
   background-image: linear-gradient(to right bottom, #feb801, #ffa422, #ff9037, #ff7e48) !important;
 }
 .bg-gradient.bg-orange-light {
   background-image: linear-gradient(to right bottom, #f7dcd9, #fbcbc8, #fdbab7) !important;
 }
 .bg-gradient.bg-blue {
   background-image: linear-gradient(to right bottom, #00b7e0, #009add, #007ad2, #0057bb) !important;
 }
 .bg-gradient.bg-light {
   background-image: linear-gradient(to right bottom, #f4f6f8, #f6f5fa, #fcf4f8, #fff4f3, #fff5ed) !important;
 }
 .bg-gradient.bg-facebook {
   background: #3A5593;
   background-image: linear-gradient(to right bottom, #3a5593, #35518c, #314d86) !important;
 }
 .bg-gradient.bg-google {
   background: #E24032;
   background-image: linear-gradient(to right bottom, #e24032, #db3a2d, #d53429, #ce2d24, #c82620) !important;
 }
 .bg-gradient.bg-whatsapp {
   background-image: linear-gradient(to right bottom, #54c964, #4ac259, #3fbb4d, #33b541, #25ae34) !important;
 }

 /* Outline Gradient Background */
 .bg-gradient-outline.bg-orange,
 .bg-gradient-outline.bg-primary {
   background-color: #FFFFFF;
   border-color: #EB3833;
   color: #EB3833;
 }
 .bg-gradient-outline.bg-orange:active,
 .bg-gradient-outline.bg-orange:hover,
 .bg-gradient-outline.bg-primary:active,
 .bg-gradient-outline.bg-primary:hover {
   color: #FFFFFF;
   border-color: none;
   background-image: linear-gradient(to right bottom, #ff541e, #ff4835, #fc3d47, #f63657) !important;
   transition: all 0.2s linear;
 }
 .bg-gradient-outline.bg-orange:active,
 .bg-gradient-outline.bg-primary:active {
   filter: brightness(0.85);
 }

 /* Gradient Background Button Behavior */
 .btn.bg-gradient {
   color: #FFFFFF;
 }
 .btn.bg-gradient:hover {
   opacity: 0.9;
   transition: all 0.2s linear;
 }
 .btn.bg-gradient:active {
   filter: brightness(0.85);
 }

 .btn.bg-gradient.bg-orange:focus,
 .btn.bg-gradient.bg-primary:focus {
   border-color: #EB3833;
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 56, 58, 0.25);
   box-shadow: 0 0 0 0.2rem rgba(255, 56, 58, 0.25);
 }
 .btn.bg-gradient.bg-yellow:focus {
   border-color: #FEB801;
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 184, 1, 0.25);
   box-shadow: 0 0 0 0.2rem rgba(254, 184, 1, 0.25);
 }
 .btn.bg-gradient.bg-facebook:focus {
   border-color: #3A5593;
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 85, 147, 0.25);
   box-shadow: 0 0 0 0.2rem rgba(58, 85, 147, 0.25);
 }
 .btn.bg-gradient.bg-google:focus {
   border-color: #E24032;
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 64, 50, 0.25);
   box-shadow: 0 0 0 0.2rem rgba(226, 64, 50, 0.25);
 }

 /* Greyscale */
 /* #FDFDFE light1 */
 /* #FAFAFA light2 */
 /* #F8F9FA light3 */

 /* #ECECF6 light-primary */
 /* #FDF4F7 light-secodary */

 /* #F5F5F5 grey1 */
 /* #E9ECEF grey2 */
 /* #DEE2E6 grey3 */

 /* Deep Shadow */
 .shadow-deep {
   box-shadow: 0 25px 50px -20px rgba(50, 50, 93, .15), 0 15px 30px -30px rgba(0, 0, 0, .2);
 }
 .shadow-deeper {
   box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3);
 }

 /* No outline/No Wrap */
 .no-outline:focus {
   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
   -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
 }
 .nowrap {
   white-space: nowrap !important;
   word-break: keep-all !important;
 }

 /* Close Button */
 .close {
    /*
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    */
    font-size: 25px;
    font-weight: 900;
    color: #8C9196 !important;
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 15px;
  }
  .close:hover {
    cursor: pointer;
    color: #FF5233 !important;
  }

  .close.dark {
    color: #374250 !important;
  }
  .close.dark:hover {
    cursor: pointer;
    color: #000 !important;
  }
